<!DOCTYPE html>
<html>
  <head>
    <title>Life Expectancy Rates</title>
    <meta charset="utf-8">
	  <link rel='stylesheet' type = 'text/css' href='../static/css/home.css'/>
  </head>


  <body>

  <!--<div class="navbar">

  <img class="logo" src="lifelogo.png">

  <div class="dropdown">
    <button class="dropbtn">Data Set</button>
    <div class="dropdown-content">
      <a href="#">Unemployment(2014)</a>
      <a href="#">GDP (2014)</a>
      <a href="#">Health Spending (2014)</a>
      <a href="#">Per Capita Binge Drinking (2016)</a>
    </div>
  </div>
  -->
  <!--<div class="dropdown">
    <button class="dropbtn">Theme</button>
    <div class="dropdown-content">
      <a href="#">Theme 1</a>
      <a href="#">Theme 2</a>
      <a href="#">Theme 3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Size</button>
    <div class="dropdown-content">
      <a href="#">Size 1</a>
      <a href="#">Size 2</a>
      <a href="#">Size 3</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Radius Scale</button>
    <div class="dropdown-content">
      <a href="#">Linear</a>
      <a href="#">Log</a>
    </div>
  </div>


</div>
-->


    <h1 id="graph_title" style="text-align: center">Life Expectancy vs. You Choose!</h1>
    <div align="center">
      <form id="Radio">
	<p>Choose A Data Set (all data is for 2014):</p>
	<div>
	  <input type="radio" name="dataset" id="button1" value="GDP" checked>
	  <label for="data1">State GDP</label>
	  <br>
	  <input type="radio" name="dataset" id="button2" value="HSpend">
	  <label for="data1">State Health Spending Per Capita</label>
	  <br>
	  <input type="radio" name="dataset" id="button3" value="Approval">
	  <label for="data1">Obama Approval Rating</label>
	  <br>
	  <input type="radio" name="dataset" id="button4" value="Unemploy">
	  <label for="data1">State Unemployment Rate</label>
	  <br>
	  <input type="radio" name="dataset" id="button5" value="Wellbeing">
	  <label for="data1">State Wellbeing Index</label>
	  <br>
	</div>
    </div>

    <div id = "lobfeq"> </div>
    <div id = "lobfreg"> </div>

    <div id="graph" transform="translate(200,-60)">
    </div>

  <p id="displayInfoTitle" style="text-align: center; font-size=24px;">
  </p>
    
  <p id="displayInfo" style="text-align: center">
  </p>
      
    
  <br>
  <div class="center">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">      
             var csvdata = {{ data_var|tojson }}
    </script>
    <script src='../static/js/home.js'></script>
    
  </div>

  <br><br><br><br>
  </body>
</html>


<!--

Next:

1. extract data
2. put into a scatterplot (dots ==> axis ==> more info display (hovering, transition, etc.))

-->


<!-- Potential Features to be Included -->

<!-- Dynamic part:

	- Hover ==> highlight + display point info

Graph Box Features:

	- drop-down list to customize:
		- dimension display
		- color themes
		- radius scale
		- (y scale (auto-collapse/expand))

		- (data scource ==> moved to y-axis side?)

Entire Page:

	- graph box
	- graph description
	- use instructions
	- credits

Inside Graph Functionalities:

	- hover single point ==> display lines connecting to x and y  -->
