<!DOCTYPE html>
<html>
  <head>
    <title>Life Expectancy Rates</title>
  </head>
  <body>
    <h1 id="graph_title" style="text-align: center">Life Expectancy vs. You Choose!</h1>
    <div align="left">
      <form>
	<p>Choose A Data Set:</p>
	<div>
	  <input type="radio" name="dataset" id="data1" value="__" checked>
	  <label for="data1">__</label>
	  <br>
	  <input type="radio" name="dataset" id="data1" value="__">
	  <label for="data1">__</label>
	  <br>
	  <input type="radio" name="dataset" id="data1" value="__">
	  <label for="data1">__</label>
	  <br>
	</div>
    </div>
    <div align="left" id="graph">
    </div>
  </body>
</html>
